.mobile-nav {
    background: black;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    overflow: hidden !important;
    z-index: 20;
}

.bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;

}
 .IsActive{
    border-bottom: 5px solid #f81b55;
   
}
a div{
  font-size: medium;
}
 .createAnchor {
    position: relative;
  }


  .AppbarLinks{
    background-color: transparent;
    color: white;
    line-height: 1.2;
    font-size: 14px;
    padding-top: 3px;
    font-weight: 500;
    letter-spacing: .5px;
    border: none;
   
  }

  .CreateDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute; 
    top:0px;
    z-index: 999; 
  }
  .CreateDropdown  Button{
   width: 100px;
   margin: 5px;
  }
   .NavFix{
    height: 200px !important;
   }
.RedirectButtons{
  background-color: #6139B8;
  border: none;
  
}
.RedirectButtons:hover{
  background-color: #6139B8;
  border: none;
  
}