.pricingHeader {
  line-height: 1.5rem;
}
.pricingDescription {
  width: 47%;
  margin: 0 auto;
  text-align: center;
  color: #f2eeff;
  font-size: large;
}

.accordionMain {
  background-color: #1b1b24;
  border: none;
  box-shadow: none !important;
}
.accordianTitle {
  color: white;
  font-weight: 700 !important;
}
.accordionDescription {
  color: white;
  font-weight: 700;
}
/* Set default styles for collapsed and expanded states */
.accordion-button {
  color: #ffffff;
  box-shadow: none !important;
  background-color: #1b1b24; /* Set the default color to orange */
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  border: none;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
  border: none;
  color: white !important;
  background-color: #1b1b24;
}

.accordion-button::after {
  color: white !important;
}
.titleDiv {
  width: 100%;
  height: 55px;
  font-weight: 700 !important;
  letter-spacing: 0.25em;
  line-height: 24px !important;
  text-transform: uppercase;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.pricingCard {
  border-radius: 5px;
  border: 1px solid #353543;
  width: 100%;
  margin: 0 10px;
}
.nextButton {
  width: 96%;
  height: 40px;
  margin: 10px 5px;
  background-color: #312e3e;
  border: none;
  font-weight: 700;
}
.nextButton:hover {
  background-color: #413e4d;
}
.PriceOuter {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.price {
  font-weight: 800;
  font-size: 37px;
  line-height: 40px;
}
.month {
  align-self: flex-end;
}
.cardList {
  list-style-type: none;
}
.ListTitle {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1rem;
}
