.Header {
  font-size: 4rem !important;
  font-weight: 700;
}

.list-item {
  display: flex;
  justify-content: center;
}

.list-unstyle {
  margin-top: 30px;
}
.testimonial{
  background-color: black;
}
.testamonialHeading {
  font-weight: 700;
  color: #f1eefe;
  font-size: 36px;
  line-height: 24px;
}

.testamonialSubHeading {
  font-weight: 500;
  color: #cec3fb;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 50px;
}
.featured{
  max-width: "100%";
  display: flex;
  margin-bottom: 20px;

  overflow-x: auto;
}
.featured div{
  margin: 0 19px;
}



.FeaturedPlaylist{
  display: flex;
  order: 3;
}
.FeaturedPlaylist div{
 margin: 0 5px
}

.AudioFeaturePlaylist{
  display: flex;
  justify-content: space-between;
}
.LikedForMd{
  display:none;
}
.testamonialImageHeading{
  font-size: 20px;
  color:#f2eeff;
  word-wrap: break-word;
  line-height: 1.5;
  font-weight: 400;
}

@media only screen and (max-width: 992px) {
  .Header {
    font-size: 2rem !important;
    font-weight: 700;
   line-height: normal;
    
  }
  .testamonialImage{
    height: 100px !important;
    width: 100px !important;
  }
  .testamonialImageHeading{
    font-size: 13px;
    width: 60%;
  color:#f2eeff;
  word-wrap: break-word;
  line-height: 1.5;
  font-weight: 400;
  }
  .TestamonialMain{
    display: flex;
    justify-content: space-around;
  }
.list-unstyle {
  margin-top: 3px;
}
  .list-item {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .AudioFeaturePlaylist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .AudioFeaturePlaylist h4{

    order: 2;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -.075em;
    color: #d1c2ff;
    word-break: normal;
  }
  .AudioFeaturePlaylist h5{
    color: #d1c2ff;
    order: 1
  }
  .FeaturedPlaylist{
    order: 3 !important;
  }
  .LikedForMd{
    display:block;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -.075em;
    color: #d1c2ff;
    word-break: normal;
    order: 4;
  }
  .PlayList{
    margin-bottom: -500px;
    margin-top: 300px;
    position: relative;
    z-index: 1 !important;
  }
}
@media only screen and (max-width: 768px) {
 
  .PlayList{
    margin-bottom: -500px;
    margin-top: 300px;
  }
  .card2sec {
    position: relative;
    /* Change from absolute to relative */
    top: -700px;
    /* Adjusted from margin-top */
    left: 23%;
    /* Adjusted from margin-left */
    z-index: 1;
    transform: rotate(6deg);
  }
}